@import "@nuxt/ui";
@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  /* margin-bottom: 20px; */
  /* text-decoration: none; */
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  list-style: disc;
  padding: 0px 30px;
}

/* a {
  color: #82c435;
  text-decoration: underline;
} */